@media screen and (max-width:320px) {
	body {
		overflow-x: hidden
	}
	.menu ul li {
		background: #4776e6d6
	}
	h1 {
		font-size: 36px
	}
	h2 {
		font-size: 18px
	}
	p {
		line-height: 28px;
		font-size: 14px
	}
	.header-text {
		width: 290px
	}
	.gambar-header {
		display: none
	}
	.gambar-header img {
		position: relative;
		width: 100%;
		height: 100%
	}
	#card-form {
		width: auto;
		height: auto;
		margin-left: 15px;
		margin-right: 15px;
		left: 0;
		bottom: -310px
	}
	.form-center {
		margin: 0
	}
	h1.top-things-judul:before {
		bottom: 20px;
		left: 25px;
		width: 70px;
		height: 10px
	}
	.input-form {
		width: 100%;
		margin-bottom: 14px
	}
	.form-center {
		padding: 15px 0 15px 0
	}
	.btn-form-go {
		width: 100%
	}
	#top-things {
		padding-top: 60px
	}
	.card {
		margin-top: 15px;
		padding-bottom: 15px
	}
	.exchange-coin {
		position: relative;
		display: inline-block;
		width: 100%;
		overflow: hidden;
		margin: 0;
		padding: 0;
		margin-top: 480px
	}
	#coins {
		margin: 0;
		padding: 0;
		width: 100%;
		margin-left: -180px
	}
	.exchange-coin span:nth-child(1),
	.blog span:nth-child(1) {
		left: 15px
	}
	.exchange-coin span:nth-child(2),
	.blog span:nth-child(2) {
		left: 30px
	}
	.exchange-coin span:nth-child(3),
	.blog span:nth-child(3) {
		left: 45px
	}
	.exchange-coin h1 {
		left: 30px;
		bottom: 70px
	}
	.blog h1 {
		left: 0;
		bottom: 80px;
		padding-right: 15px;
		padding-left: 30px
	}
	h1.top-things-judul:before {
		left: 40px
	}
	h1.top-things-judul:after {
		padding-left: 15px;
		padding-right: 15px
	}
	h1.city-to {
		position: relative;
		left: 15px
	}
	h1.city-to:before {
		left: 0;
		top: 25px
	}
	h1.city-to:after {
		left: 0
	}
	h1.why-to:before {
		bottom: 20px;
		left: 75px;
		width: 80px;
		height: 14px
	}
	h1.why-to:after {
		left: 0
	}
	#footer {
		height: 100%;
		padding-bottom: 20px;
		text-align: center
	}
	.brand-logo a {
		margin-left: 15px;
		margin-right: 15px
	}
	.rating {
		right: 27%
	}
	.location {
		width: 100%;
		display: block
	}
	.time {
		left: 15px;
		bottom: 0
	}
	.modal-content {
		height: 120%;
	}
	.badge{
		bottom: 108px;
		margin-left: 55px;
	}
}

@media(min-width:321px) and (max-width:375px) {
	body {
		overflow-x: hidden
	}
	.menu ul li {
		background: #4776e6d6
	}
	h1 {
		font-size: 36px
	}
	h2 {
		font-size: 18px
	}
	p {
		line-height: 28px;
		font-size: 14px
	}
	.header-text {
		width: 290px
	}
	.gambar-header {
		display: none
	}
	.gambar-header img {
		position: relative;
		width: 100%;
		height: 100%
	}
	#card-form {
		width: auto;
		height: auto;
		margin-left: 15px;
		margin-right: 15px;
		left: 0;
		bottom: -310px
	}
	.form-center {
		margin: 0
	}
	h1.top-things-judul:before {
		bottom: 20px;
		left: 25px;
		width: 70px;
		height: 10px
	}
	.input-form {
		width: 100%;
		margin-bottom: 14px
	}
	.form-center {
		padding: 15px 0 15px 0
	}
	.btn-form-go {
		width: 100%
	}
	#top-things {
		padding-top: 60px
	}
	.card {
		margin-top: 15px;
		padding-bottom: 15px
	}
	.exchange-coin {
		position: relative;
		display: inline-block;
		width: 100%;
		overflow: hidden;
		margin: 0;
		padding: 0;
		margin-top: 480px
	}
	#coins {
		margin: 0;
		padding: 0;
		width: 100%;
		margin-left: -180px
	}
	.exchange-coin span:nth-child(1),
	.blog span:nth-child(1) {
		left: 15px
	}
	.exchange-coin span:nth-child(2),
	.blog span:nth-child(2) {
		left: 30px
	}
	.exchange-coin span:nth-child(3),
	.blog span:nth-child(3) {
		left: 45px
	}
	.exchange-coin h1 {
		left: 30px;
		bottom: 70px
	}
	.blog h1 {
		left: 0;
		bottom: 80px;
		padding-right: 15px;
		padding-left: 30px
	}
	h1.top-things-judul:before {
		left: 40px
	}
	h1.top-things-judul:after {
		padding-left: 15px;
		padding-right: 15px
	}
	h1.city-to {
		position: relative;
		left: 15px
	}
	h1.city-to:before {
		left: 0;
		top: 25px
	}
	h1.city-to:after {
		left: 0
	}
	h1.why-to:before {
		bottom: 20px;
		left: 75px;
		width: 80px;
		height: 14px
	}
	h1.why-to:after {
		left: 0
	}
	#footer {
		height: 100%;
		padding-bottom: 20px;
		text-align: center
	}
	.brand-logo a {
		margin-left: 15px;
		margin-right: 15px
	}
	.rating {
		right: 27%
	}
	.location {
		width: 100%;
		display: block
	}
	.time {
		left: 15px;
		bottom: 0
	}
	.modal-content {
		height: 120%;
	}
	.badge{
		bottom: 108px;
		margin-left: 55px;
	}
}

@media(min-width:376px) and (max-width:425px) {
	body {
		overflow-x: hidden
	}
	.menu ul li {
		background: #4776e6d6
	}
	h1 {
		font-size: 36px
	}
	h2 {
		font-size: 18px
	}
	p {
		line-height: 28px;
		font-size: 14px
	}
	.header-text {
		width: 290px
	}
	.gambar-header {
		display: none
	}
	.gambar-header img {
		position: relative;
		width: 100%;
		height: 100%
	}
	#card-form {
		width: auto;
		height: auto;
		margin-left: 15px;
		margin-right: 15px;
		left: 0;
		bottom: -310px
	}
	.form-center {
		margin: 0
	}
	h1.top-things-judul:before {
		bottom: 20px;
		left: 25px;
		width: 70px;
		height: 10px
	}
	.input-form {
		width: 100%;
		margin-bottom: 14px
	}
	.form-center {
		padding: 15px 0 15px 0
	}
	.btn-form-go {
		width: 100%
	}
	#top-things {
		padding-top: 60px
	}
	.card {
		margin-top: 15px;
		padding-bottom: 15px
	}
	.exchange-coin {
		position: relative;
		display: inline-block;
		width: 100%;
		overflow: hidden;
		margin: 0;
		padding: 0;
		margin-top: 480px
	}
	#coins {
		margin: 0;
		padding: 0;
		width: 100%;
		margin-left: -180px
	}
	.exchange-coin span:nth-child(1),
	.blog span:nth-child(1) {
		left: 15px
	}
	.exchange-coin span:nth-child(2),
	.blog span:nth-child(2) {
		left: 30px
	}
	.exchange-coin span:nth-child(3),
	.blog span:nth-child(3) {
		left: 45px
	}
	.exchange-coin h1 {
		left: 30px;
		bottom: 70px
	}
	.blog h1 {
		left: 0;
		bottom: 80px;
		padding-right: 15px;
		padding-left: 30px
	}
	h1.top-things-judul:before {
		left: 40px
	}
	h1.top-things-judul:after {
		padding-left: 15px;
		padding-right: 15px
	}
	h1.city-to {
		position: relative;
		left: 15px
	}
	h1.city-to:before {
		left: 0;
		top: 25px
	}
	h1.city-to:after {
		left: 0
	}
	h1.why-to:before {
		bottom: 20px;
		left: 75px;
		width: 80px;
		height: 14px
	}
	h1.why-to:after {
		left: 0
	}
	#footer {
		height: 100%;
		padding-bottom: 20px;
		text-align: center
	}
	.brand-logo a {
		margin-left: 15px;
		margin-right: 15px
	}
	.rating {
		right: 27%
	}
	.location {
		width: 100%;
		display: block
	}
	.time {
		left: 15px;
		bottom: 0
	}
	.modal-content {
		height: 120%;
	}
	.badge{
		bottom: 108px;
		margin-left: 55px;
	}
}